n8n/cursor-parallel-orchestration.json
{
  "name": "Cursor Parallel Agent Orchestration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cursor-orchestrate",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst plan = typeof body === 'string' ? JSON.parse(body) : body;\n\nconst repository = plan.repository\n  ?? (plan.repo?.startsWith('http') ? plan.repo : `https://github.com/${plan.repo}`);\n\nconst parallelTasks = plan.parallel_group_a ?? [];\nconst sequentialTasks = plan.sequential_group_b ?? [];\n\n// 並列タスクを個別アイテムに展開（タスクがない場合はスキップ用ダミー）\nif (parallelTasks.length === 0) {\n  return [{ json: { _skip: true, repository, ref: plan.ref ?? 'master', sequentialTasks } }];\n}\n\nreturn parallelTasks.map(task => ({\n  json: {\n    prompt: task.prompt,\n    name: task.name,\n    repository,\n    ref: plan.ref ?? 'master',\n    sequentialTasks,\n    maxPolls: 20\n  }\n}));"
      },
      "id": "node-parse",
      "name": "Parse Execution Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cursor.com/v0/agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Y3Jzcl82NmY0NzQ2MTBjZWUyNDM4ZGI0MzBhNDBkMjI3OTk4ZmM3ODA1N2FlYjM2MjQxNTIxMDY5YzNiZGUyYjRjZTNiOg=="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": { \"text\": \"{{ $json.prompt }}\" },\n  \"source\": {\n    \"repository\": \"{{ $json.repository }}\",\n    \"ref\": \"{{ $json.ref }}\"\n  },\n  \"target\": { \"autoCreatePr\": true }\n}",
        "options": {}
      },
      "id": "node-launch-parallel",
      "name": "Launch Parallel Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst agentIds = items.map(i => i.json.id).filter(Boolean);\nconst first = items[0]?.json ?? {};\n\nreturn [{\n  json: {\n    agentIds,\n    pollCount: 0,\n    maxPolls: first.maxPolls ?? 20,\n    repository: $('Parse Execution Plan').first().json.repository,\n    ref: $('Parse Execution Plan').first().json.ref,\n    sequentialTasks: $('Parse Execution Plan').first().json.sequentialTasks\n  }\n}];"
      },
      "id": "node-collect-ids",
      "name": "Collect Agent IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 400]
    },
    {
      "parameters": { "amount": 30, "unit": "seconds" },
      "id": "node-wait-a",
      "name": "Wait 30s (Group A)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [940, 400]
    },
    {
      "parameters": {
        "jsCode": "const { agentIds, pollCount, maxPolls, repository, ref, sequentialTasks } = $input.first().json;\nconst results = [];\n\nfor (const agentId of agentIds) {\n  results.push({\n    json: { agentId, pollCount: pollCount + 1, maxPolls, repository, ref, sequentialTasks, agentIds }\n  });\n}\n\nreturn results;"
      },
      "id": "node-prepare-poll",
      "name": "Prepare Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cursor.com/v0/agents/{{ $json.agentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Y3Jzcl82NmY0NzQ2MTBjZWUyNDM4ZGI0MzBhNDBkMjI3OTk4ZmM3ODA1N2FlYjM2MjQxNTIxMDY5YzNiZGUyYjRjZTNiOg=="
            }
          ]
        },
        "options": {}
      },
      "id": "node-poll-a",
      "name": "Poll Group A Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst statuses = items.map(i => i.json.status);\nconst agentIds = items.map(i => i.json.id ?? i.json.agentId);\nconst pollCount = $('Prepare Poll').first().json.pollCount;\nconst maxPolls = $('Prepare Poll').first().json.maxPolls;\nconst repository = $('Prepare Poll').first().json.repository;\nconst ref = $('Prepare Poll').first().json.ref;\nconst sequentialTasks = $('Prepare Poll').first().json.sequentialTasks;\n\nconst failed = statuses.filter(s => s === 'FAILED');\nconst allFinished = statuses.every(s => s === 'FINISHED');\nconst timeout = pollCount >= maxPolls;\n\nreturn [{\n  json: {\n    statuses,\n    agentIds,\n    allFinished: allFinished || timeout,\n    failed,\n    timeout,\n    pollCount,\n    maxPolls,\n    repository,\n    ref,\n    sequentialTasks\n  }\n}];"
      },
      "id": "node-check-a",
      "name": "Check Group A Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-all-done",
              "leftValue": "={{ $json.allFinished }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "node-if-a-done",
      "name": "All Group A Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1740, 400]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-has-seq",
              "leftValue": "={{ $json.sequentialTasks.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "node-if-has-seq",
      "name": "Has Sequential Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1940, 280]
    },
    {
      "parameters": {
        "jsCode": "const { sequentialTasks, repository, ref } = $input.first().json;\n\nreturn sequentialTasks.map(task => ({\n  json: { prompt: task.prompt, name: task.name, repository, ref }\n}));"
      },
      "id": "node-parse-seq",
      "name": "Parse Sequential Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cursor.com/v0/agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Y3Jzcl82NmY0NzQ2MTBjZWUyNDM4ZGI0MzBhNDBkMjI3OTk4ZmM3ODA1N2FlYjM2MjQxNTIxMDY5YzNiZGUyYjRjZTNiOg=="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": { \"text\": \"{{ $json.prompt }}\" },\n  \"source\": {\n    \"repository\": \"{{ $json.repository }}\",\n    \"ref\": \"{{ $json.ref }}\"\n  },\n  \"target\": { \"autoCreatePr\": true }\n}",
        "options": {}
      },
      "id": "node-launch-seq",
      "name": "Launch Sequential Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2340, 200]
    },
    {
      "parameters": { "amount": 60, "unit": "seconds" },
      "id": "node-wait-b",
      "name": "Wait 60s (Sequential)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2540, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cursor.com/v0/agents/{{ $('Launch Sequential Agent').last().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic Y3Jzcl82NmY0NzQ2MTBjZWUyNDM4ZGI0MzBhNDBkMjI3OTk4ZmM3ODA1N2FlYjM2MjQxNTIxMDY5YzNiZGUyYjRjZTNiOg=="
            }
          ]
        },
        "options": {}
      },
      "id": "node-poll-seq",
      "name": "Poll Sequential Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2740, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-seq-done",
              "leftValue": "={{ $json.status }}",
              "rightValue": "FINISHED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-if-seq-done",
      "name": "Sequential Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2940, 200]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "value": "#dev-notifications", "__rl": true, "mode": "name" },
        "text": "=✅ *全エージェント完了*\n\n*グループA agent IDs*: {{ $('Check Group A Done').first().json.agentIds.join(', ') }}\n\nすべての PR を確認してください。\nhttps://cursor.com/agents",
        "otherOptions": {}
      },
      "id": "node-slack-success",
      "name": "Slack: Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [3140, 200]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "value": "#dev-notifications", "__rl": true, "mode": "name" },
        "text": "=⚠️ *エージェント失敗またはタイムアウト*\n\n失敗: {{ $('Check Group A Done').first().json.failed.join(', ') }}\n\n手動で確認: https://cursor.com/agents",
        "otherOptions": {}
      },
      "id": "node-slack-fail",
      "name": "Slack: Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1940, 520]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "value": "#dev-notifications", "__rl": true, "mode": "name" },
        "text": "=✅ *グループA完了（順列タスクなし）*\n\n*agent IDs*: {{ $json.agentIds.join(', ') }}\n\nPR を確認してください。\nhttps://cursor.com/agents",
        "otherOptions": {}
      },
      "id": "node-slack-a-only",
      "name": "Slack: Group A Only Done",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2140, 380]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Execution Plan", "type": "main", "index": 0 }]]
    },
    "Parse Execution Plan": {
      "main": [[{ "node": "Launch Parallel Agent", "type": "main", "index": 0 }]]
    },
    "Launch Parallel Agent": {
      "main": [[{ "node": "Collect Agent IDs", "type": "main", "index": 0 }]]
    },
    "Collect Agent IDs": {
      "main": [[{ "node": "Wait 30s (Group A)", "type": "main", "index": 0 }]]
    },
    "Wait 30s (Group A)": {
      "main": [[{ "node": "Prepare Poll", "type": "main", "index": 0 }]]
    },
    "Prepare Poll": {
      "main": [[{ "node": "Poll Group A Status", "type": "main", "index": 0 }]]
    },
    "Poll Group A Status": {
      "main": [[{ "node": "Check Group A Done", "type": "main", "index": 0 }]]
    },
    "Check Group A Done": {
      "main": [[{ "node": "All Group A Finished?", "type": "main", "index": 0 }]]
    },
    "All Group A Finished?": {
      "main": [
        [{ "node": "Has Sequential Tasks?", "type": "main", "index": 0 }],
        [{ "node": "Wait 30s (Group A)", "type": "main", "index": 0 }]
      ]
    },
    "Has Sequential Tasks?": {
      "main": [
        [{ "node": "Parse Sequential Tasks", "type": "main", "index": 0 }],
        [{ "node": "Slack: Group A Only Done", "type": "main", "index": 0 }]
      ]
    },
    "Parse Sequential Tasks": {
      "main": [[{ "node": "Launch Sequential Agent", "type": "main", "index": 0 }]]
    },
    "Launch Sequential Agent": {
      "main": [[{ "node": "Wait 60s (Sequential)", "type": "main", "index": 0 }]]
    },
    "Wait 60s (Sequential)": {
      "main": [[{ "node": "Poll Sequential Status", "type": "main", "index": 0 }]]
    },
    "Poll Sequential Status": {
      "main": [[{ "node": "Sequential Finished?", "type": "main", "index": 0 }]]
    },
    "Sequential Finished?": {
      "main": [
        [{ "node": "Slack: Success", "type": "main", "index": 0 }],
        [{ "node": "Wait 60s (Sequential)", "type": "main", "index": 0 }]
      ]
    },
    "Check Group A Done": {
      "main": [[{ "node": "All Group A Finished?", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "cursor" }, { "name": "orchestration" }]
}
