n8n/cursor-parallel-orchestration.json
{
  "name": "Cursor Parallel Agent Orchestration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cursor-orchestrate",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst plan = typeof body === 'string' ? JSON.parse(body) : body;\n\n// repository は URL 形式 or 'owner/name' 形式どちらも受け付ける\nconst repository = plan.repository\n  ?? (plan.repo?.startsWith('http') ? plan.repo : `https://github.com/${plan.repo}`);\n\nreturn [{\n  json: {\n    repository,\n    ref: plan.ref ?? 'master',\n    parallelTasks: plan.parallel_group_a ?? [],\n    sequentialTasks: plan.sequential_group_b ?? [],\n    pollCount: 0,\n    maxPolls: 20\n  }\n}];"
      },
      "id": "node-parse",
      "name": "Parse Execution Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cursor.com/v0/agents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": { \"text\": \"{{ $('Parse Execution Plan').first().json.parallelTasks[0].prompt }}\" },\n  \"source\": {\n    \"repository\": \"{{ $('Parse Execution Plan').first().json.repository }}\",\n    \"ref\": \"{{ $('Parse Execution Plan').first().json.ref }}\"\n  },\n  \"target\": { \"autoCreatePr\": true }\n}",
        "options": {}
      },
      "id": "node-launch-a1",
      "name": "Launch Agent A1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 200],
      "credentials": {
        "httpBasicAuth": { "id": "cursor-basic-auth", "name": "Cursor Basic Auth" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cursor.com/v0/agents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": { \"text\": \"{{ $('Parse Execution Plan').first().json.parallelTasks[1].prompt }}\" },\n  \"source\": {\n    \"repository\": \"{{ $('Parse Execution Plan').first().json.repository }}\",\n    \"ref\": \"{{ $('Parse Execution Plan').first().json.ref }}\"\n  },\n  \"target\": { \"autoCreatePr\": true }\n}",
        "options": {}
      },
      "id": "node-launch-a2",
      "name": "Launch Agent A2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 400],
      "credentials": {
        "httpBasicAuth": { "id": "cursor-basic-auth", "name": "Cursor Basic Auth" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cursor.com/v0/agents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": { \"text\": \"{{ $('Parse Execution Plan').first().json.parallelTasks[2].prompt }}\" },\n  \"source\": {\n    \"repository\": \"{{ $('Parse Execution Plan').first().json.repository }}\",\n    \"ref\": \"{{ $('Parse Execution Plan').first().json.ref }}\"\n  },\n  \"target\": { \"autoCreatePr\": true }\n}",
        "options": {}
      },
      "id": "node-launch-a3",
      "name": "Launch Agent A3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 600],
      "credentials": {
        "httpBasicAuth": { "id": "cursor-basic-auth", "name": "Cursor Basic Auth" }
      }
    },
    {
      "parameters": {
        "mode": "multiplex",
        "clashHandling": { "values": { "resolveClash": "addSuffix" } },
        "options": {}
      },
      "id": "node-merge",
      "name": "Merge Agent IDs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [740, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst agentIds = items.map(i => i.json.id).filter(Boolean);\n\nreturn [{\n  json: {\n    agentIds,\n    pollCount: 0,\n    maxPolls: 20,\n    repository: $('Parse Execution Plan').first().json.repository,\n    ref: $('Parse Execution Plan').first().json.ref,\n    sequentialTasks: $('Parse Execution Plan').first().json.sequentialTasks\n  }\n}];"
      },
      "id": "node-collect-ids",
      "name": "Collect Agent IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 400]
    },
    {
      "parameters": { "amount": 30, "unit": "seconds" },
      "id": "node-wait-a",
      "name": "Wait 30s (Group A)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "jsCode": "const { agentIds, pollCount, maxPolls, repository, ref, sequentialTasks } = $input.first().json;\nconst results = [];\n\nfor (const agentId of agentIds) {\n  results.push({\n    json: { agentId, pollCount: pollCount + 1, maxPolls, repository, ref, sequentialTasks, agentIds }\n  });\n}\n\nreturn results;"
      },
      "id": "node-prepare-poll",
      "name": "Prepare Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cursor.com/v0/agents/{{ $json.agentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "node-poll-a",
      "name": "Poll Group A Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1540, 400],
      "credentials": {
        "httpBasicAuth": { "id": "cursor-basic-auth", "name": "Cursor Basic Auth" }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst statuses = items.map(i => i.json.status);\nconst agentIds = items.map(i => i.json.id ?? i.json.agentId);\nconst pollCount = $('Prepare Poll').first().json.pollCount;\nconst maxPolls = $('Prepare Poll').first().json.maxPolls;\nconst repository = $('Prepare Poll').first().json.repository;\nconst ref = $('Prepare Poll').first().json.ref;\nconst sequentialTasks = $('Prepare Poll').first().json.sequentialTasks;\n\nconst failed = statuses.filter(s => s === 'FAILED');\nconst allFinished = statuses.every(s => s === 'FINISHED');\nconst timeout = pollCount >= maxPolls;\n\nreturn [{\n  json: {\n    statuses,\n    agentIds,\n    allFinished: allFinished || timeout,\n    failed,\n    timeout,\n    pollCount,\n    maxPolls,\n    repository,\n    ref,\n    sequentialTasks\n  }\n}];"
      },
      "id": "node-check-a",
      "name": "Check Group A Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-all-done",
              "leftValue": "={{ $json.allFinished }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "node-if-a-done",
      "name": "All Group A Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1940, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cursor.com/v0/agents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": { \"text\": \"{{ $json.sequentialTasks[0].prompt }}\" },\n  \"source\": {\n    \"repository\": \"{{ $json.repository }}\",\n    \"ref\": \"{{ $json.ref }}\"\n  },\n  \"target\": { \"autoCreatePr\": true }\n}",
        "options": {}
      },
      "id": "node-launch-b1",
      "name": "Launch Sequential Agent B1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2160, 280],
      "credentials": {
        "httpBasicAuth": { "id": "cursor-basic-auth", "name": "Cursor Basic Auth" }
      }
    },
    {
      "parameters": { "amount": 30, "unit": "seconds" },
      "id": "node-wait-b",
      "name": "Wait 30s (Group B)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2360, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cursor.com/v0/agents/{{ $('Launch Sequential Agent B1').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "node-poll-b",
      "name": "Poll Group B Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2560, 280],
      "credentials": {
        "httpBasicAuth": { "id": "cursor-basic-auth", "name": "Cursor Basic Auth" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-b-done",
              "leftValue": "={{ $json.status }}",
              "rightValue": "FINISHED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-if-b-done",
      "name": "Group B Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2760, 280]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "value": "#dev-notifications", "__rl": true, "mode": "name" },
        "text": "=✅ *並列エージェント完了*\n\n*グループA*: {{ $('Check Group A Done').first().json.agentIds.join(', ') }}\n*グループB*: {{ $('Launch Sequential Agent B1').first().json.id }}\n\nすべての PR を確認してください。",
        "otherOptions": {}
      },
      "id": "node-slack-success",
      "name": "Slack: Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2980, 200]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": { "value": "#dev-notifications", "__rl": true, "mode": "name" },
        "text": "=⚠️ *エージェント失敗またはタイムアウト*\n\n失敗したエージェント: {{ $('Check Group A Done').first().json.failed.join(', ') }}\n\n手動で確認: https://cursor.com/agents",
        "otherOptions": {}
      },
      "id": "node-slack-fail",
      "name": "Slack: Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2160, 520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[
        { "node": "Parse Execution Plan", "type": "main", "index": 0 }
      ]]
    },
    "Parse Execution Plan": {
      "main": [[
        { "node": "Launch Agent A1", "type": "main", "index": 0 },
        { "node": "Launch Agent A2", "type": "main", "index": 0 },
        { "node": "Launch Agent A3", "type": "main", "index": 0 }
      ]]
    },
    "Launch Agent A1": { "main": [[{ "node": "Merge Agent IDs", "type": "main", "index": 0 }]] },
    "Launch Agent A2": { "main": [[{ "node": "Merge Agent IDs", "type": "main", "index": 1 }]] },
    "Launch Agent A3": { "main": [[{ "node": "Merge Agent IDs", "type": "main", "index": 2 }]] },
    "Merge Agent IDs": { "main": [[{ "node": "Collect Agent IDs", "type": "main", "index": 0 }]] },
    "Collect Agent IDs": { "main": [[{ "node": "Wait 30s (Group A)", "type": "main", "index": 0 }]] },
    "Wait 30s (Group A)": { "main": [[{ "node": "Prepare Poll", "type": "main", "index": 0 }]] },
    "Prepare Poll": { "main": [[{ "node": "Poll Group A Status", "type": "main", "index": 0 }]] },
    "Poll Group A Status": { "main": [[{ "node": "Check Group A Done", "type": "main", "index": 0 }]] },
    "Check Group A Done": { "main": [[{ "node": "All Group A Finished?", "type": "main", "index": 0 }]] },
    "All Group A Finished?": {
      "main": [
        [{ "node": "Launch Sequential Agent B1", "type": "main", "index": 0 }],
        [{ "node": "Slack: Failed", "type": "main", "index": 0 }]
      ]
    },
    "Launch Sequential Agent B1": { "main": [[{ "node": "Wait 30s (Group B)", "type": "main", "index": 0 }]] },
    "Wait 30s (Group B)": { "main": [[{ "node": "Poll Group B Status", "type": "main", "index": 0 }]] },
    "Poll Group B Status": { "main": [[{ "node": "Group B Finished?", "type": "main", "index": 0 }]] },
    "Group B Finished?": {
      "main": [
        [{ "node": "Slack: Success", "type": "main", "index": 0 }],
        [{ "node": "Wait 30s (Group B)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "cursor" }, { "name": "orchestration" }]
}
